---
import Badge from "@/components/starwind/badge";
import { getTexts } from "@/utils/i18n";
const texts = getTexts(Astro);
---

<div
	class="bg-neutral-secondary-soft border dark:border-gray-200 border-blue-900 rounded-2xl p-8 md:p-12"
>
	<Badge variant="primary"> {texts.work.current_position} </Badge>
	<h2 class="text-heading text-3xl font-semobild my-4">
		{texts.work.position_title}
	</h2>
	<p class="font-normal text-body mb-4">
		{texts.work.description}
	</p>
</div>
