---
import Badge from "@/components/starwind/badge";
---

<div
	class="bg-neutral-secondary-soft border dark:border-gray-200 border-blue-900 rounded-2xl p-8 md:p-12"
>
	<Badge variant="primary"> Puesto Actual </Badge>
	<h2 class="text-heading text-3xl font-semobild my-4">
		Desarrollador Frontend y Jefe de Equipo
	</h2>
	<p class="font-normal text-body mb-4">
		Actualmente trabajo en una empresa de desarrollo de software, donde soy
		responsable de liderar proyectos de desarrollo de software, desde la
		definición de requisitos hasta la implementación y mantenimiento de las
		soluciones.
	</p>
</div>
