---
import Info from "@/components/Info.astro";
import Project from "@/components/ui/react/workInfo";
import Layout from "@/layouts/layout.astro";
import Timeline from "@/components/Timeline.astro";
---

<Layout>
	<Info />
	<h5 class="text-center text-2xl font-bold p-5">Experiencia Laboral</h5>
	<Timeline />
	<Project />
</Layout>
