<div class="text-white p-8 bg-gray-800 rounded-lg flex flex-col justify-center items-center">
    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarme.</p>
    <p>Correo: christiancampa546@gmail.com</p>
    <p>Telefono: +53 53992666</p>
    <p>Redes Sociales:</p>
    <ul>
        <li>Twitter: <a href="https://twitter.com/ChrisCampaDev">@ChrisCampaDev</a></li>
        <li>GitHub: <a href="https://github.com/ChrisCampaDev">@ChrisCampaDev</a></li>
    </ul>
</div>
