<footer class="relative bg-white  dark:bg-gray-900 m-4 shadow-2xl shadow-blue-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <ul class="flex flex-wrap items-center mb-6 text-lg font-medium text-gray-900 sm:mb-0 dark:text-gray-400 ">
                <li>
                    <a href="#" class="hover:underline me-5 md:me-6">Quien soy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-900 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-800 sm:text-center dark:text-gray-400">© {new Date().getFullYear()} <a href="https://github.com/ChrisCampaDev" class="hover:underline">ChrisCampaDev</a>. Todos los derechos reservados.</span>
    </div>
</footer>
