<footer class="border-t border-border/60 bg-stone-900">
    <div class="w-full max-w-screen-xl mx-auto px-4 py-8 md:py-10">
        <div class="text-center">
            <p class="text-white">En esta web podra ver mis proyectos, experiencia laboral y contactarme. Puede contactarme por email o whatsapp para trabajar juntos.</p>
        </div>
        <hr class="my-6 sm:mx-auto border-border/60 lg:my-8" />
        <span class="block text-center text-xs text-white">{new Date().getFullYear()} <a href="https://github.com/ChrisCampaDev" class="underline-offset-4 hover:underline text-white">ChrisCampaDev</a>. Todos los derechos reservados.</span>
    </div>
</footer>
