---
import Input from "@/components/starwind/input";
import Label from "@/components/starwind/label";
import Textarea from "@/components/starwind/textarea";
---

<div class="max-w-xl border-2 p-4 rounded-2xl">
	<h1 class="text-2xl text-center">Contacto</h1>
	<Label for="name">Nombre</Label>
	<Input id="name" placeholder="Nombre o empresa" />
	<Label for="email">Email</Label>
	<Input id="email" placeholder="Correo" />
	<Label>Mensaje</Label>
	<Textarea placeholder="Escriba un mensaje para comunicarse conmigo" />
</div>
