---
import React from "@/components/icons/tools/react.astro";
import AstroIcon from "@/components/icons/tools/astro.astro";
import Css from "@/components/icons/tools/css.astro";
import Html from "@/components/icons/tools/html.astro";
import Node from "@/components/icons/tools/node.astro";
import Nextjs from "@/components/icons/tools/nexts.astro";
import Tailwind from "@/components/icons/tools/tailwindcss.astro";
import Ts from "@/components/icons/tools/ts.astro";
---

<div
	class="flex gap-8 bg-stone-900 p-8 rounded-2xl justify-center items-center"
>
	<div class="size-20">
		<React />
		<span>React</span>
	</div>
	<div class="size-20">
		<AstroIcon />
		<span>Astro</span>
	</div>
	<div class="size-20">
		<Nextjs />
		<span>Nextjs</span>
	</div>
	<div class="size-20">
		<Css />
		<span>CSS</span>
	</div>
	<div class="size-20">
		<Html />
		<span>HTML5</span>
	</div>
	<div class="size-20">
		<Node />
		<span>Nodejs</span>
	</div>
	<div class="size-20">
		<Tailwind />
		<span>Tailwindcss</span>
	</div>
	<div class="size-20">
		<Ts />
		<span>Typescript</span>
	</div>
</div>
