---
import React from "@/components/icons/tools/react.astro";
import AstroIcon from "@/components/icons/tools/astro.astro";
import Css from "@/components/icons/tools/css.astro";
import Html from "@/components/icons/tools/html.astro";
import Node from "@/components/icons/tools/node.astro";
import Nextjs from "@/components/icons/tools/nexts.astro";
import Tailwind from "@/components/icons/tools/tailwindcss.astro";
import Ts from "@/components/icons/tools/ts.astro";
---

<div
	class="flex gap-5 p-2 sm:p-4 md:p-6 border bg-white/40 border-blue-950 dark:border-white dark:bg-stone-900 rounded-2xl justify-center items-center"
	role="list"
	aria-label="Tecnologías y herramientas de desarrollo"
>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<React aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<AstroIcon aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Nextjs aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Css aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Html aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Node aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Tailwind aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Ts aria-hidden="true" />
	</div>
</div>
