---
import Slack from "@/components/icons/tools/slack.astro";
import Git from "@/components/icons/tools/git.astro";
import Trello from "@/components/icons/tools/trello.astro";
import Drive from "@/components/icons/tools/drive.astro";
import Npm from "@/components/icons/tools/npm.astro";
import Mui from "@/components/icons/tools/mui.astro";

import Figma from "@/components/icons/tools/figma.astro";
---

<div
	class="flex gap-5 p-2 sm:p-4 md:p-6 border bg-white/40 border-blue-950 dark:border-white dark:bg-stone-900 rounded-2xl justify-center items-center"
	role="list"
	aria-label="Herramientas de desarrollo y colaboración"
>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Slack aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Git aria-hidden="true" />
	</div>

	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Trello aria-hidden="true" />
	</div>

	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Drive aria-hidden="true" />
	</div>

	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Mui aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Npm aria-hidden="true" />
	</div>
	<div
		class="size-10 sm:size-16 md:size-18 flex flex-col items-center justify-center"
		role="listitem"
	>
		<Figma aria-hidden="true" />
	</div>
</div>
