---
import Slack from "@/components/icons/tools/slack.astro";
import Git from "@/components/icons/tools/git.astro";
import Trello from "@/components/icons/tools/trello.astro";
import Drive from "@/components/icons/tools/drive.astro";
import Npm from "@/components/icons/tools/npm.astro";
import Mui from "@/components/icons/tools/mui.astro";

import Figma from "@/components/icons/tools/figma.astro";
---

<div
	class="flex flex-wrap justify-center gap-3 sm:gap-5 p-2 sm:p-4 md:p-6 border bg-white/40 border-blue-950 dark:border-white dark:bg-stone-900 rounded-2xl"
	role="list"
	aria-label="Herramientas de desarrollo y colaboración"
>
	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Slack class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>
	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Git class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>

	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Trello class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>

	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Drive class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>

	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Mui class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>
	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Npm class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>
	<div
		class="size-12 sm:size-16 md:size-18 flex items-center justify-center"
		role="listitem"
	>
		<Figma class="w-8 h-8 sm:w-12 sm:h-12" aria-hidden="true" />
	</div>
</div>