---
import Slack from "@/components/icons/tools/slack.astro";
import Git from "@/components/icons/tools/git.astro";
import Trello from "@/components/icons/tools/trello.astro";
import Drive from "@/components/icons/tools/drive.astro";
import Npm from "@/components/icons/tools/npm.astro";
import Mui from "@/components/icons/tools/mui.astro";

import Figma from "@/components/icons/tools/figma.astro";
---

<div
	class="flex gap-8 border bg-white/40 border-blue-950 dark:border-white dark:bg-stone-900 p-8 rounded-2xl justify-center items-center"
>
	<div class="size-20">
		<Slack />
		<span>Slack</span>
	</div>
	<div class="size-20">
		<Git />
		<span>Git</span>
	</div>

	<div class="size-20">
		<Trello />
		<span>Trello</span>
	</div>

	<div class="size-20">
		<Drive />
		<span>Drive</span>
	</div>

	<div class="size-20">
		<Mui />
		<span>MUI</span>
	</div>
	<div class="size-20">
		<Npm />
		<span>NPM</span>
	</div>
	<div class="size-20">
		<Figma />
		<span>Figma</span>
	</div>
</div>
