---
import Timeline from "@/components/Timeline.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
	<h5 class="text-center text-2xl font-bold p-5">Experiencia Laboral</h5>
	<Timeline />
</Layout>
