---
import Button from "@/components/starwind/button";
import Input from "@/components/starwind/input";
import Label from "@/components/starwind/label";
import Textarea from "@/components/starwind/textarea";
---

<div
	class="max-w-xl border p-4 rounded-2xl dark:border-gray-200 border-blue-900"
>
	<h1 class="text-2xl text-center">Whatsaoo</h1>
	<Label for="name">Nombre</Label>
	<Input id="name" placeholder="Nombre o empresa" />
	<Label for="email">Email</Label>
	<Input id="email" placeholder="Correo" />
	<Label>Mensaje</Label>
	<Textarea placeholder="Escriba un mensaje para comunicarse conmigo" />
	<div class="flex w-9/10 text-center justify-evenly gap-5">
		<Button class="w-full" variant="error">Clear</Button>
		<Button class="w-full" variant="success">Submit</Button>
	</div>
</div>
