---
interface Props {
	githubUrl?: string;
	linkedinUrl?: string;
	whatsappUrl?: string;
	class?: string;
}

const {
	githubUrl = "https://github.com/ChristianCampaDev",
	linkedinUrl = "https://linkedin.com/in/christiancampa",
	whatsappUrl = "https://wa.me/+5354758835",
	class: className = "",
} = Astro.props;

import WhatsAppIcon from './icons/social/WhatsAppIcon.astro';
import LinkedInIcon from './icons/social/LinkedInIcon.astro';
import GitHubIcon from './icons/social/GitHubIcon.astro';
---

<div class={`flex items-center justify-center gap-4 ${className}`}>
  <GitHubIcon href={githubUrl} />
  <LinkedInIcon href={linkedinUrl} />
  <WhatsAppIcon href={whatsappUrl} />
</div>
